<div class="modal" tabindex="-1" id="modalGenerica">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="titulo">Titulo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="fechar"></button>
      </div>
      <div class="modal-body">
        <p id="msg">Mensagem</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="botao1">Cancelar</button>
        <button type="button" class="btn btn-primary" id="botao2">Confirmar</button>
      </div>
    </div>
  </div>
</div>
