<!--Navbar-->
<nav class="navbar navbar-expand-lg mb-5 custom-navbar-bg">
    <div class="container-fluid custom-container">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle text-light a-pl-0"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Usuários
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="#">Gerenciar Usuários</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle text-light"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Produtos
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Cadastrar Produto</a></li>
            <li>
              <a class="dropdown-item" href="#">Cadastrar Categoria</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Cadastrar Sub-Categoria</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle text-light"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Estoque
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Consultar Estoque</a></li>
            <li>
              <a class="dropdown-item" href="#">Consultar Lançamento</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Registrar Entrada</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Registrar Saída</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Categorias de Movimento</a>
            </li>
          </ul>
        </li>
      </ul>

      <div class="btn-group dropstart">
        <button
          class="custom-my-user"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          G
        </button>
        <ul class="dropdown-menu">
         <li>
          <a class="dropdown-item" href="#">

            <div class="rounded">
              <div class="custom-bold">Gabriel Carvalho</div>
              <div>Administrador</div>
            </div>
            </a>
          </li>
          <li><hr class="dropdown-divider" /></li>
          <li><a class="dropdown-item" href="#">Sair</a></li>
        </ul>
      </div>
      
</nav>