{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Lançamentos</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/estilo.css' %}"
    />
  </head>

  <body>
    {% include "componentes/navbar.html" %}
    <div class="custom-container">
      <div class="row m-0">
        <div class="d-flex align-items-center p-0 mb-4">
          <a href="{{ request.session.previous_url }}" class="d-flex">
            <img
              class="custom-img"
              src="{% static 'img/voltar.svg' %}"
              alt=""
            />
          </a>
          <h5 class="custom-title">Lançamentos</h5>
        </div>

        <div
          class="col-7 border boder-secondary rounded me-5 d-flex flex-column custom-container-2"
        >
          <div
            class="custom-col-pb-30 d-flex align-items-center justify-content-center justify-content-between"
          >
            <div class="col-4">
              <input
                type="text"
                class="form-control"
                id="pesquisarLancamento"
                placeholder="Pesquisar lançamento..."
              />
            </div>
            <div class="d-flex">
              <div class="input-group">
                <input
                  type="date"
                  aria-label="First name"
                  class="form-control"
                />
                <input
                  type="date"
                  aria-label="Last name"
                  class="form-control"
                />
              </div>
            </div>
          </div>
          <div class="flex-grow-1 mb-3 position-relative custom-wrapper-table">
            <div class="table-responsive position-absolute w-100 h-100">
              <table id="CE_Lancamento" class="table mb-0 table-hover">
              <thead>
                <tr class="cabecalho">
                  <th scope="col" class="text-secondary">Código</th>
                  <th scope="col" class="text-secondary">Origem</th>
                  <th scope="col" class="text-secondary">Total</th>
                  <th scope="col" class="text-secondary">Usuário</th>
                  <th scope="col" class="text-secondary">Data</th>
                  <th scope="col" class="text-secondary"></th>
                </tr>
              </thead>
              <tbody>
                {% for lancamento in lancamento_detalhes %}
                <tr>
                  <td class="text-secondary">
                    <a href="{% url 'detalhe_lancamento' lancamento.id %}" class="no-link-style">{{ lancamento.id }}</a>
                  </td>
                  <td class="text-secondary">
                    <a href="{% url 'detalhe_lancamento' lancamento.id %}" class="no-link-style">{{ lancamento.origem }}</a>
                  </td>
                  <td class="text-secondary">
                    <a href="{% url 'detalhe_lancamento' lancamento.id %}" class="no-link-style">{{ lancamento.total }}</a>
                  </td>
                  <td class="text-secondary">
                    <a href="{% url 'detalhe_lancamento' lancamento.id %}" class="no-link-style">{{ lancamento.usuario }}</a>
                  </td>
                  <td class="text-secondary">
                    <a href="{% url 'detalhe_lancamento' lancamento.id %}" class="no-link-style">{{ lancamento.data_lancamento|date:"d/m/Y H:i" }}</a>
                  </td>
                  <td class="text-secondary">
                    <a href="{% url 'detalhe_lancamento' lancamento.id %}" class="no-link-style"></a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            </div>
          </div>
        </div>
        <div
          class="col-4 align-items-start justify-content-start boder-secondary ps-5 custom-col-height"
        ></div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script type="module" src="{% static 'js/telas/lancamentos.js' %}"></script>
  </body>
</html>
<style>
  .table-hover tbody tr {
    cursor: pointer;
  }
  .no-link-style {
    text-decoration: none;
    color: inherit;
    display: block;
  }
</style>
