{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Usuários</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/estilo.css' %}"
    />
  </head>

  <body>
    {% include "componentes/navbar.html" %}
    <div class="custom-container">
      <div class="row m-0">
        <div class="d-flex align-items-center p-0 mb-4">
          <a
            href="{{ request.session.previous_url|default:'/usuarios/' }}"
            class="d-flex"
          >
            <img
              class="custom-img"
              src="{% static 'img/voltar.svg' %}"
              alt=""
            />
          </a>

          <h5 class="custom-title">Usuários</h5>
        </div>

        <div
          class="col-7 border boder-secondary rounded me-5 d-flex flex-column custom-container-2"
        >
          <div class="col-6 custom-col-pb-30">
            <input
              class="form-control"
              id=""
              placeholder="Pesquisar usuário..."
            />
          </div>
          <div class="flex-grow-1 mb-3" style="width: 100%">
            <table class="table mb-0 table-hover" id="tabelaUsuarios">
              <thead>
                <tr class="cabecalho">
                  <th scope="col" class="text-secondary">Usuário</th>
                  <th scope="col" class="text-secondary">Nome</th>
                  <th scope="col" class="text-secondary">Sobrenome</th>
                  <th scope="col" class="text-secondary">Tipo</th>
                  <th scope="col" class="text-secondary">E-mail</th>
                  <th scope="col" class="text-secondary"></th>
                </tr>
              </thead>
              <tbody>
                {% for usuario in usuarios %}
                <tr id="{{ usuario.id}}">
                  <td class="text-secondary">{{ usuario.username }}</td>
                  <td class="text-secondary">{{ usuario.first_name }}</td>
                  <td class="text-secondary">{{ usuario.last_name }}</td>
                  <td class="text-secondary">
                    {{ usuario.is_superuser|yesno:"Administrador,Usuário" }}
                  </td>
                  <td class="text-secondary">{{ usuario.email }}</td>
                  <td class="text-end">
                    <div class="d-flex align-items-center justify-content-center pt-1">
                    <img
                      src="{% static 'img/editar.svg' %}"
                      class="editarUsuario"
                      alt=""
                    />
                    <img
                      src="{% static 'img/deletar.svg' %}"
                      class="excluirUsuario"
                      alt=""
                    />
                  </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <button
            id="novoUsuario"
            class="custom-button-2 rounded d-flex justify-content-between align-items-center ms-auto"
          >
            <span>Novo</span>
            <span>
              <img class="custom-mb" src="{% static 'img/novo.svg' %}" alt="" />
            </span>
          </button>
        </div>
        <div id="formularioUsuario" class="col-4 align-items-start justify-content-start border-start boder-secondary ps-5 custom-col-height {% if usuario is None %}d-none{% endif %}">          <div class="d-flex align-items-center p-0 mb-4">
            <img
              class="custom-img"
              src="{% static 'img/voltar.svg' %}"
              alt=""
            />
            <h5 class="custom-title">Cadastrar Usuário</h5>
          </div>
          <div class="row g-3">
            <div class="col mb-2">
              <input
                id="nome"
                type="text"
                class="form-control"
                placeholder="Nome"
                aria-label="nome"
                value="{{ usuario.first_name|default:'' }}"
              />
            </div>
            <div class="col mb-2">
              <input
                id="sobrenome"
                type="text"
                class="form-control"
                placeholder="Sobrenome"
                aria-label="sobrenome"
                value="{{ usuario.last_name|default:'' }}"
              />
            </div>
            <div class="col-12 mb-2">
              <input
                id="email"
                type="email"
                class="form-control"
                placeholder="E-mail"
                aria-label="email"
                value="{{ usuario.email|default:'' }}"
              />
            </div>
            <div class="col-12 mb-2">
              <input
                id="senha"
                type="password"
                class="form-control"
                placeholder="Senha"
                aria-label="senha"
              />
            </div>
            <div class="col-3 mb-4">
              <input id="usuario" class="form-check-input" type="radio" name="flexRadioDefault" {% if not usuario.is_superuser %}checked{% endif %} />
              <label class="form-check-label" for="usuario"> Usuário </label>
          </div>
          <div class="col-9 mb-4">
              <input id="administrador" class="form-check-input" type="radio" name="flexRadioDefault" {% if usuario.is_superuser %}checked{% endif %} />
              <label class="form-check-label" for="administrador"> Administrador </label>
          </div>
          
            <div class="col-6">
              <button class="btn-cancelar rounded bg-white text-secondary" id="cancelar">
                Cancelar
              </button>
            </div>
            <div class="col-6">
              <button
              id="salvar"
                class="custom-btn-salvar rounded text-light d-flex justify-content-center align-items-center ms-auto position-relative"
              >
                <span>Salvar</span>
                <span
                  class="spinner-border spinner-border-sm position-absolute custom-r-12"
                  aria-hidden="true"
                ></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include "componentes/modal_generica.html" %}

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script type="module" src="{% static 'js/telas/usuarios.js' %}"></script>
  </body>
</html>
